*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline:none;
}
*:hover {
    color:#4db6ac;
    transition:0.5s;
}
body {
    margin:0;
    overflow-x:hidden;
}
.container {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width:100%;
    flex-direction:column;
}
.header {
    background-color:#333;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    font-size:18px;
    padding-left:5%;
    padding-right:5%;
    padding-top:20px;
    padding-bottom:20px;
    align-items:center;
    justify-content: space-between;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}
.header .title {
    font-size:30px;
    text-transform:uppercase;
}
.header .profile {
    font-size:15px;
    flex-direction:column;
}
.header .profile .logout {
    font-size:11px;
    color:#d4d4d4;
}
.shadow-below {
  -moz-box-shadow:    0px 3px 5px 6px #ccc;
  -webkit-box-shadow: 0px 3px 5px 6px #ccc;
  box-shadow:         0px 3px 5px 6px #ccc;
}
.shadow-inset {
   -moz-box-shadow:    inset 0 0 10px #444;
   -webkit-box-shadow: inset 0 0 10px #444;
   box-shadow:         inset 0 0 10px #444;
}
.content {
    display:flex;
    flex-direction:row;
    min-height:100%;
}
a {
    color:inherit;
    text-decoration:none;
    overflow:auto;
    display:inherit;
}
.menu {
    flex-direction: column;
    font-size:15px;
    background-color:#455a64;
    color:#fff;
    width:250px;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
}
.menu .item {
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    transition: 0.5s;
}
.menu .item:after{
    content:"";
    display:block;
    margin:0 auto;
    width:100%;
    padding-bottom:15px;
    border-bottom: 1px  solid #587380;
}
.menu .item:hover {
    background-color:#3d4f58;
    transition: 0.5s;
    
}
.menu .item i {
    font-size:20px;
    padding-right:15px;
}
.content-rows {
    padding:30px 30px 30px 30px;
    width:100%;
}
.content-rows .title, .tabcontent .title {
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
}
.rows {
    display:flex;
    flex-direction:row;
    padding-top:15px;
    width:100%;
    border-bottom:1px solid #777;
}
.rows:after {
    display:block;
    margin:0 auto;
    width:100%;
    padding-bottom:2px;
    border-bottom: 1px  solid #999;
}
.adjust-size {
    flex: 1 1 auto;
}
.fixed-size {
    flex: 0 0 auto;
}
.rows .icon {
    cursor:pointer;
    font-size:15px;
    transition:0.25s;
}
.content-rows .link {
    cursor:pointer;
    transition:0.25s;
}
.content-rows .link:hover, .rows .icon:hover {
    color:#4db6ac;
    transition:0.25s;
}
.strip-input {
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    text-transform: inherit;
    text-indent: inherit;
    text-shadow: inherit;
    display: inherit;
    text-align: inherit;
    -webkit-appearance: textfield;
    background-color: inherit;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0px;
    font-style: inherit;
    font-size:inherit;
    font-weight:inherit;
    padding: 0px;
    border-width: 0px;
    border-style: inherit;
    border-color: inherit;
    border-image: none;
}
[contentEditable=true]:empty:not(:hover):before{
        content:attr(data-placeholder);
        color:#666;
    }
@media only screen and (max-width: 600px) {
    .remove600 {
        display:none;
    }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
    height:80vh;
    display:flex;
    flex-direction:column
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #4db6ac;
  text-decoration: none;
  cursor: pointer;
}

.ql-toolbar {
    display:block;
}

/*Tabination*/
/* Style the tab */
.tab {
    overflow: hidden;
    flex-direction:row;
    justify-content:flex-start;
    background-color:#455a64;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px 14px 16px;
  transition: 0.5s;
    font-size:12px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
}

.tab button:after {
    content:"";
    margin:0 auto;
    height:100%;
    border-right: 1px  solid #587380;
    padding-right:16px;
}

.tab button:hover {
    background-color:#3d4f58;
    color: #4db6ac;
    transition: 0.5s;
}
/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
    overflow:auto;
}

.search-container {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(230,227,230,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(230,227,230,1);
    box-shadow: 5px 5px 10px 0px rgba(230,227,230,1);
    display:flex;
    margin:20px 5% 20px 5%;
    border:1px solid #ccc;
}
.search-container .bar {
    height:35px;
    padding-left:2%;
    border-width:0px;
}
.button {
    color:#fff;
    background-color:#455a64;
    padding:10px 15px;
    border-width:0px;
    cursor:pointer;
}
.padding15 {
    padding:15px;
}
.horizontal-center {
    display:flex;
    justify-content: center;
}
.vertical-center {
    display:flex;
    align-items:center;
}
.block-flex {
    display:flex;
    flex-direction:inherit;
    width:100%;
    height:100%;
}
#Delete {
    flex-direction:column;
}

/*Drop down*/
.dropbtn {
  background-color: #455a64;
  color: white;
  padding:10px 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
    display:flex;
    justify-content:space-between;
    width:100%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:#3d4f58;
    color:#4db6ac;
    transition: 0.5s;
}

.dropdown-input {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
    width:100%;
}

.dropdown-input:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
    margin:20px 5% 20px 5%;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(230,227,230,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(230,227,230,1);
    box-shadow: 5px 5px 10px 0px rgba(230,227,230,1);
    width:90%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
    width:100%
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    width:100%;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Homepage code */
.home {
    color:#fff;
}
.home .content {
    min-height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-cover {
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding:8%;
    float:left;
}
.flex-column {
    display:flex;
    flex-direction:column;
}
.flex-row {
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}
.home .text {
    font-family: 'Montserrat', sans-serif;
    font-size:45px;
    line-height: 75px;
    max-width:50%;
}
.uppercase {
    text-transform:uppercase;
}
.left {
    justify-self: left;
}
.right {
    margin-left:auto;
}
.home .icon {
    height:70vh;
}

/*Sign up and log in forms */
.log-in-container .input-box, .sign-up-container .input-box {
    background-color: inherit;
    border-width: 0px;
    border-bottom: 1px solid #afbec7;
    color: #fff;
    font-size: 15px;
    font-style:inherit;
    height:25px;
}
.log-in-container .input-box::placeholder,.sign-up-container .input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  .log-in-container .input-box:-ms-input-placeholder,.sign-up-container .input-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  .log-in-container .input-box::-ms-input-placeholder,.sign-up-container .input-box::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }
  .log-in-container .button:hover, .sign-up-container .button:hover {
    background-color:#3d4f58;
    transition: 0.5s;
}
/*Log in form */
.log-in-container .input-box {
    width:150px;
}
.log-in-container .button {
    height:25px;
    padding:0px 15px;
    font-style:inherit;
    font-size:15px;
}

/*Sign up form*/
.sign-up-container {
    background-image: radial-gradient(farthest-corner at 40px 40px,
    #455a64 0%, #28343a 100%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
    padding:10%;
    align-items:stretch;
}
.signup-heading {
    font-size:30px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
}
.signup-form {
    width:50%;
    display:flex;
    align-self:stretch;
    -webkit-box-shadow: 5px 5px 15px 0px rgb(25, 25, 25);
    -moz-box-shadow: 5px 5px 15px 0px rgba(25, 25, 25);
    box-shadow: 5px 5px 15px 0px rgba(25, 25, 25);
    max-width:375px;
}
.sign-up-container .input-box {
    margin:10px 0px;
}
.sign-up-container .button {
    background-color:#fff;
    color:#455a64;
    transition:0.35s;
    min-width:100px;
    width:50%;
    align-self:center;
}
.sign-up-container .button:hover {
    background-color:#fff;
    font-weight: bold;
    transition:0.35s;
    min-width:100px;
    width:50%;
    align-self:center;
}
@media screen and (max-width: 700px) {
    .home .text {
        font-size:10vw;
        max-width:100%;
    }
    .signup-form {
        width:100% !important;
        margin-top:50px;
    }
    .signup-heading {
        font-size:9vw;
    }
}